body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  flex: 1;
}
/*nav bar*/
.navbar {
  height: 5rem;
  background-color: white;
}
.fa-compass {
  color: #fc3903;
  font-size: 2rem;
}
.nav-link {
  color: #222222 !important;
}
.f-info-socials a {
  color: #222222 !important;
}
/* footer */
.f-info-links a {
  text-decoration: none;
  color: #222222 !important;
}
.f-info-links a:hover {
  text-decoration: underline;
}
.f-info {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 8rem;
  align-items: space-evenly;
  background-color: #ebebeb;
}
.f-info-links {
  width: 100%;
}
.f-info-socials {
  width: 100%;
  font-size: 1.25rem;
  margin-right: 1rem;
}
.f-info-socials i {
  font-size: 1.2rem;
  margin-right: 1rem;
}
.f-info-links,
.f-info-socials {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* cards */
.card {
  border: none !important;
  border-radius: 0;
}
.card-img-top {
  height: 20rem;
  object-fit: cover;
  border-radius: 1rem !important;
  width: 100%;
}
.card-body {
  padding: 0;
}
.card-text p {
  font-weight: 400;
}
/* card effect */
.card-img-overlay {
  opacity: 0;
}
.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
  transition: all 0.3s ease-in-out;
}
.add-btn {
  background-color: #fc3903 !important;
  border: none !important;
  color: white !important;
}
.show-img {
  height: 20rem;
  width: 30rem !important;
  object-fit: cover;
  border-radius: 1rem !important;
  width: 100%;
  margin-bottom: 1rem;
}
.card-text-description {
  font-size: 0.9rem;
  color: #666666;
  margin-bottom: 1rem;
  width: 30rem !important;
}
